@media (max-width: 396px) {

    .mobile-twitter {
        width: 100%;
        height: 50px;
        display: block;
        background-color: yellow;
      }

      .sidebar-container {
          display: none;
      }

      .twitter-logo {
          display: none;
      }

      .home-title-box {
          position: relative;
          right: 20px;
      }

      .home-title {
        font-size: 20px;
        position: relative;
        left: -25px;
        top: -5px;
      }

}

/* Tablet */

@media (max-width: 768px)  {

    .sidebar-container {
      width: 64px;
      margin-left: -20px;
    }

    .logo{
        background-color: yellow;
    }


    .home-title-box {
        position: relative;
        left: 100px;
    }

    


    }

    
