@media (max-width: 396px) {

    .mobile-twitter {
        width: 100%;
        height: 50px;
        display: block;
        background-color: yellow;
      }

      .sidebar-container {
          display: none;
      }

      .twitter-logo {
          display: none;
      }

      .home-title-box {
          position: relative;
          right: 20px;
      }

      .home-title {
        font-size: 20px;
        position: relative;
        left: -25px;
        top: -5px;
      }

}

/* Tablet */

@media (max-width: 768px)  {

    .sidebar-container {
      width: 64px;
      margin-left: -20px;
    }

    .logo{
        background-color: yellow;
    }

    .main-container{
        width: 600px;
    }


    .home-title-box {
        position: relative;
        left: 100px;
    }

    .tweeter-feed-section {
        width: 600px;
        height: 2500px;
      }

      .input-tweet {
        width: 80%;
        height: 50px;
        margin-top: 40px;
        margin-right: 40px;
        border: none;
        background-color: #21bbf3;  
          
      }

      .tweet-group-icons {
        display: grid;
        grid-template-columns:  40px 40px 40px;
        padding-top: 10px;
        /* border: 1px solid #d5d6d7; */
        /* background-color: aqua; */
      }

  .tweet-btn-col {
    width: 75px;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
    margin-left: 420px;
    /* background-color: rgb(222, 195, 23); */
  }


    .tweets-section {
        width: 600px;
        height: 140px;
        margin-top: 60px;
        padding-top: 100;
        border: 1px solid #d5d6d7;
        background-color: yellow;
    }

    .tweet{
        width: 600px;
        height: 2500px;
      }

      .input-section{
        width: 590px;
        height: 120px;
        background-color: rgb(14, 231, 97);
      }

      .avatar-profile{
        width: 30px;
        border-radius: 50px;
        margin-right: 30px;
      }

      .icons-group {
        display: flex;
        width: 200px;
        height: 40px;
        margin-top: 20px;
        margin-left: 60px;
      
      }

      .grid-item3{
        background-color: rgb(46, 21, 104);
        display: none;
      }



    }

   
        
        
      
    



    