* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.grid-container {
    display: grid;
    grid-template-columns: 300px 251px  598px 350px auto;
    grid-template-rows: 53px auto;
    background-color: #ffff;
    padding: 10px;

  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    position: sticky;
  }


  /* Begining of sidebar section */

  .sidebar-container {
    width: 250px;
    position: relative;
    top: 45px;
    position: fixed;
    /*border: 1px solid #2196F3; */
  }

  .logo {
    position: fixed;
  }
  .twitter-logo {
    width: 40px;
    position: relative;
    top: -14px;
    right: 66px;
  }
  .home-container {
    display: flex;
    width: 140px;
    height: 50px;
   /* border: 1px solid red; */
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    
  }

  .home-container:hover {
    background-color: lightgrey;
  }

  .explore-container {
    display: flex;
    width: 150px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
  }

  .explore-container:hover {
    background-color: lightgrey;
  }

  .notification-container {
    display: flex;
    width: 180px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
  }

  .notification-container:hover {
    background-color: lightgray;
  }

.massage-container {
    display: flex;
    width: 150px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.massage-container:hover {
  background-color: lightgray;
}

.bookmark-container {
    display: flex;
    width: 180px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.bookmark-container:hover {
  background-color: lightgray;
}

  .lists-container {
    display: flex;
    width: 130px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .lists-container:hover {
    background-color: lightgray;
  }

  .profile-container {
    display: flex;
    width: 130px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
  }

  .profile-container:hover {
    background-color: lightgray;
  }

  .more-container {
    display: flex;
    width: 130px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
  }

  .more-container:hover {
    background-color: lightgray;
  }

  .side-icon {
    width: 35px;
    padding-left: 10px;
    margin-top: 10px;
  
  }

  .side-title {
    font-size: 20px;
    padding-top: 15px;
    margin-left: 10px;
    
  }

  .notification-icon {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    padding-left: 10px;
   
  }
  
  .massage-icon {
    width: 32px;
    height: 36px;
    padding-top: 16px;
    padding-left: 10px;
  }

  .bookmark-icon {
    width: 36px;
    height: 36px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .list-icon {
    width: 36px;
    height: 36px;
    padding-top: 15px;
    padding-left: 5px;
  }

  .profile-icon {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    padding-left: 5px; 
  }

  .btn-tweet {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #2196F3;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
  }

  .account-name-btn {
    width: 210px;
    height: 55px;
    /*border: 1px solid red; */
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 250px;
    cursor: pointer;
  }

  .accont-profile {
    width: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 30px;
  }

  .user-name {
    position: relative;
    bottom: 5px;
  }

  .hashtag-name {
    position: relative;
    margin-top: 20px;
    bottom: 20px;
    left: 25px;
  }

  .account-name-btn:hover {
    background-color: rgb(226, 221, 221);
  }

  /* End of sidebar secxtion*/

  /* Begining od main secxtion*/
 
  .home-title-box {
    width: 510px;
    height: 53px;
    margin-bottom: 10px;
    padding-left: 12px;
    position: fixed;
    /*background-color: #2196F3; */
  }  

  .home-title {
    font-size: 20px;
    position: relative;
    left: -235px;
    top: -5px;
  }

  .toptweet-box {
    width: 40px;
    height: 45px;
    position: relative;
    top: -50px;
    right: -530px;
    /*background-color: red; */
  }

  .toptweet-icon {
    width: 34px;
    height: 34px;
    border: 1px solid rgb(247, 243, 243);
    border-radius: 50px;
    cursor: pointer;
  }

  .toptweet-icon:hover {
    background-color: lightgrey;
  }


  .main-section {
    display: grid;
    grid-template-columns: 598px;
    grid-template-rows: 116px auto;
    width: 598px;
    align-items: center;
    /*border: 1px solid red; */
  }

  /* Begining of tweet-section */

  .tweets-section {
    width: auto;
    height: 125px;
    /*background-color: yellow; */
  }

  .tweet-profile {
    width: 40px;
    position: relative;
    top: 20px;
    left: -20px;
    border-radius: 50px;

  }

  .input-tweet {
    width: 80%;
    height: 50px;
    border: none;
    font-size: 20px;
    position: relative;
    left: -10px;
    top: 30px     
  }

  .evryone-reply {
    width: 165px;
    height: 20px;
    display: flex;
    margin-top: 50px;
    margin-left: 65px;
    border-radius: 15px;
    /*background-color: #21bbf3;*/
  }

  .evryone-reply:hover {
    background-color: #def4fc
  }

  .universe-icon {
    width: 20px;
    height: 20px;
    fill: #2196F3;
    margin-right: 5px;
    border-radius: 50px;
    cursor: pointer;
    
  }

  .evryone-reply-text {
    font-size: 15px;
    color: #2196F3;
    cursor: pointer;
    
  }

  .tweet-group-icons {
    display: grid;
    grid-template-columns:  auto auto auto;
    margin-bottom: 30px;
    /*background-color: aqua; */
  }

  .icons-group {
    display: flex;
    width: 200px;
    height: 40px;
    position: relative;
    top: 20px;
    left: 55px;
    padding-top: 10px;
    /*background-color: red; */
  
  }

  .blue-icons {
    width: 20px;
    height: 20px;
    fill: #2196F3;
    margin-left: 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  .blue-icons:hover {
    background-color: #c2e1ec
  }

  .tweet-btn-col {
    width: 80px;
    height: 40px;
    padding-right: 10px;
    padding-left: 6px;
    padding-bottom: 50px;
    position: relative;
    top: 15px;
    left: 65px;
    /*background-color: yellowgreen; */
  }

  .tweet-btn-small {
    width: 65px;
    height: 32px;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    right: -40px;
    background-color: #2196F3;
    color: #ffff;
  }

  /* End of tweet-section */

  /* Begining of tweeter feed-section */

  .tweeter-feed-section {
    width: auto;
    height: 1750px;
    margin-top: 70px;
    border: 1px solid red;
  }

  .retweet-box {
    display: flex;
    width: 210px;
    height: 20px;
    margin-left: 65px;
    background-color: magenta; */
  }

  .retweet-icon {
    width: 16px;
    height: 12px;
    margin-top: 2px;
  }

  .retweet-text {
    font-size: 14px;
    text-align: start;
    margin-left: 10px;
  }

  .styled-tweet-spotify {
    width: 556px;
    height: 130px;
    border: 1px solid black;
    cursor: pointer;
  }

  .styled-tweet-spotify:hover {
    background-color: #f8f5f5
  }

  .styled-tweet-bape {
    width: 556px;
    height: 415px;
    border: 1px solid rgb(39, 216, 95);
    cursor: pointer;
    margin-bottom: 10px;
  }

  .styled-tweet-bape:hover {
    background-color: #f8f5f5
  }

  .reaction-icons-box-bape {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 460px;
    height: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 60px;
    background-color: aqua;
  }

  .styled-tweet-aka {
    width: 556px;
    height: 130px;
    margin-top: 2px;
    border: 1px solid black;
    cursor: pointer;
  }

  .styled-tweet-aka:hover {
    background-color: #f8f5f5
  }

  .reaction-icons-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 460px;
    height: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 60px;
    position: relative;
    top: -40px;
    background-color: gold;*/
  }

  .styled-tweet-mrd {
    width: 556px;
    height: 420px;
    border: 1px solid rgb(13, 14, 13);
    cursor: pointer;
    margin-bottom: 10px;

  }

  .reaction-icons-box-mrd {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 460px;
    height: 20px;
    margin-left: 60px;
    position: relative;
    top: 240px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: crimson; */
  }

  .styled-tweet-sniper {
    width: 556px;
    height: 130px;
    margin-top: -10px;
    border: 1px solid black;
    cursor: pointer;
  }

  .styled-tweet-guru {
    width: 556px;
    height: 130px;
    margin-top: -1px;
    border: 1px solid black;
    cursor: pointer;
  }

  .styled-tweet-ran {
    width: 556px;
    height: 365px;
    margin-bottom: 10px;
    border: 1px solid black;
    /*background-color: pink */
  }

  .reaction-icons-box-ran {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 480px;
    height: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: relative;
    top: 200px;
    left: 65px;
    background-color: yellow; */
  }

  .wtf-title {
    font-size: 25px;
    font-weight: bold;
  }

  .wtf-title-box {
    width: 180px;
    height: 30px;
    margin-top: 10px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 210px;
    border: 1px solid black;
    background-color: pink;
  }

  .wtf-container {
    width: 556px;
    height: 140px;
    margin-top: 0px;
    position: relative;
    top: 210px;
    border: 1px solid black;
  }

  .handles-box {
    width: 95px;
    height: 40px;
    margin-top: -40px;
    margin-bottom: 8px;
    margin-left: 50px;
    background-color: purple;
  }

  .handles-box-chickenicken {
    width: 150px;
    height: 40px;
    margin-top: -40px;
    margin-bottom: 8px;
    margin-left: 50px;
    background-color: purple;
  }

  .handles {
    font-size: 16px;
    text-align: start;
  }

  .tweet-text-wtf {
    font-size: 16px;
    text-align: start;
    padding-bottom: 30px;
    padding-left: 50px;

  }

  .tweet-btn-wtf-container {
    width: 70px;
    height: 50px;
    position: relative;
    top: -50px;
    left: 470px;
    background-color: green;
  }

  .tweet-btn-wtf {
    width: 65px;
    height: 32px;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 15px; 
    background-color: black;
    color: #ffff;
  }

  .tweet-text-wtf-box {
    width: 556px;
    height: 60px;
    position: relative;
    top: -40px;
    background-color: orange;
  }

  .tweet-image {
    width: 500px;
    height: 300px;
    padding-right: 4px;
    border-radius: 15px;
    margin-top: -50px;
    margin-left: 60px;

  }

  .tweeter-feed {
    position: relative;
    right: 12px;
    background-color: lightgrey;
  }

  .tweet-profile {
    width: 30px;
    position: relative;
    top: 30px;
    right: 45px;
    border-radius: 50px;
  }


  .tweet {
    width: 556px;
    height: 2300px;
    /*background-color: rgb(227, 225, 225); */
  }

  .tweet-image-mrd {
    width: 490px;
    border-radius: 15px;
  }  

  .user-profile-box {
    width: 50px;
    height: 50px;
    /*background-color: #2196F3;*/
  }

  .styled-tweet {
    width: 556px;
    height: 150px;
    position: relative;
    top: -20px;  
    background-color: rgb(209, 22, 22);*/
  }

  .styled-tweet2 {
    width: 556px;
    height: 465px;
    position: relative;
    top: 0px; 
    margin-bottom: 10px;
    /*background-color: greenyellow; */
  }

  .tweet-text-box {
    width: 480px;
    height: 80px;
    position: relative;
    top: -45px;
    left: 65px;
    /*background-color: red; */
  }

  .tweet-text {
    font-size: 16px; 
    text-align: start;
  }

  .twitter-user-profile {
    width: 40px;
    border-radius: 50px;
  }

  .reply-icon-mrd {
    width: 16px;
    height: 12px;
    position: relative;
    left: -39px;
  }

  .retweet1-icon-mrd {
    width: 16px;
    height: 12px;
    position: relative;
    left: -39px;
  }  

  .like-icon-mrd {
    width: 16px;
    height: 12px;
    position: relative;
    left: -39px;
  }
  
  .share-icon-mrd {
    width: 16px;
    height: 12px;
    position: relative;
    left: -39px;
  }
  

  .reply-icon {
    width: 19px;
    height: 19px;
    position: relative;
    left: -39px;
    border:  #21bbf3;
    border-radius: 30px;
    cursor: pointer;
  }

  .reply-icon:hover {
    fill:#21bbf3;;
    background-color: #9ed5e9;
  }

  .retweet1-icon {
    width: 19px;
    height: 19px;
    position: relative;
    left: -39px;
    border-radius: 30px;
    cursor: pointer;
  }

  .retweet1-icon:hover {
    fill:rgb(100, 202, 100); ;
    background-color: rgb(197, 239, 197);
  }

  .like-icon {
    width: 19px;
    height: 19px;
    position: relative;
    left: -39px;
    border-radius: 30px;
    
    cursor: pointer;
  }

  .like-icon:hover {
    fill: rgb(222, 8, 126);;
    background-color: rgb(234, 181, 210);
  }

  .share-icon {
    width: 19px;
    height: 19px;
    position: relative;
    left: -39px;
    border-radius: 30px;
    cursor: pointer;
  }

  .share-icon:hover{
    fill: #2196F3;
    background-color: #8bd3ec;
  }
  

  .reply-stats {
    font-size: 12px;
    position: relative;
    right: 70px;
    cursor: pointer;
  }

  .reply-stats:hover {
    fill: #0b7fde;
    background-color: #8bd3ec;
  }

  .retweet-stats {
    font-size: 12px;
    position: relative;
    right: 70px;
  }

  .like-stats {
    font-size: 12px;
    position: relative;
    right: 70px;
  }

  .share-stats {
    font-size: 12px;
    position: relative;
    right: 70px;
  }

    /* End of tweeter-feed */


  /* Begining of tweeter search */

  .serach-bar {
    display: flex;
    width: 304px;
    height: 42px;
    position: relative;
    top: 20px;
   
    border-radius: 30px;
    font-size: 15px;
    position: fixed;
    background-color:  rgb(239, 235, 235);
    
  }

  .search-icon-box {
    width: 30px;
    height: 20px;
    /*background-color: pink; */
    left: -auto;
    margin-left: 10px;
    position: fixed;
  }

  .serch-icon {
    width: 20px;
    position: relative;
    top: -10px;
    right: 0px;
    
  }

  .serach-bar {
    padding-left: 40px;
    border: none;
  }

  .trends-container {
    width: auto;
    height: 2150px;
    margin-right: 5px;
    position: relative;
    top: 60px;
    /*border: 1px solid mediumseagreen;*/
  }

  .trends-box {
    width: auto;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
    /*background-color: lightgray; */
  }

  .trends-title-box {
    width: 160px;
    position: relative;
    top: 5px;
    right: 0px;
    margin-bottom: 30px;
    /*background-color: aquamarine; */
  }

  .trending-subtitlte-box {
    width: 160px;
    position: relative;
    top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    /*background-color: rgb(230, 137, 17); */
  }

  .trend-heading-box {
    width: 100px;
    position: relative;
    top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: #2196F3;*/
  }

  .trend-stats-box {
    width: 120px;
    position: relative;
    top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    /*background-color: chartreuse;*/
    
  }

  .trends-tittle {
    text-align: left;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    
  }

  .trend-heading {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    
  }

  .trending-subtitle {
    text-align: left;
    font-size: 13px;
    color: rgb(128, 126, 126);
  } 
  .trend-stats {
    text-align: left;
    font-size: 13px;
    rgb(128, 126, 126)
   
  }

  .tweeter-feed-footer {
    width: 290px ;
    position relative;
    top: 25px ;
    right: 20px;
  }

  .wtf-container-doowap {
    width: auto;
    height: 80px;
    background-color: mediumaquamarine;
  }

  .wtf-title-side {
    text-align: start;
    font-size: 25px;
    font-weight: bold;
  }

  .wtf-title-box-side {
    width: auto;
    height: 30px;
    margin-top: 10px;
    padding-right: 12px;
    margin-top: 20px;
    
    border: 1px solid black;
    background-color: rgb(192, 255, 200);
  }

  .tweet-btn-wtf-container-side {
    width: 70px;
    height: 55px;
    position: relative;
    top: -55px;
    left: 210px;
    background-color: rgb(7, 123, 231);
  }

  .tweet-btn-wtf-side {
    width: 65px;
    height: 32px;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 15px; 
    background-color: black;
    color: #ffff;
  }

  .wtf-container-nodejs {
    width: auto;
    height: 80px;
    position: relative;
    top: -35px;
    background-color: rgb(187, 200, 42);
  }

  .wtf-title-side {
    text-align: start;
    font-size: 25px;
    font-weight: bold;
  }

  .wtf-title-box-side {
    width: auto;
    height: 30px;
    margin-top: 10px;
    padding-right: 12px;
    margin-top: 20px;
    
    border: 1px solid black;
    background-color: rgb(192, 255, 200);
  }

  .wtf-container-zkhiphani {
    width: auto;
    height: 80px;
    position: relative;
    top: -35px;
    background-color: rgb(42, 79, 200);
  }

  .show-more-container {
    width: auto;
    height: 50px;
    position: relative;
    top: -35px;
    background-color: darksalmon;
  }

  .show-more-title {
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
    color: rgb(37, 142, 216)
  }

  .copy-right-box {
    width: 290px;
    height: 100px;
    margin-top: -20px;
    /*background-color: chocolate;*/
  }

  .terms-service {
    width: 280px;
    position: relative;
    left: 0px;
    font-size: 13px;
    margin-bottom: 2px;
    /*background-color: red; */
  }

  .accessibily-ads {
    width: 175px;
    position: relative;
    left: 4px;
    font-size: 13px;
    /*background-color: darkorange; */
  }

  .at-copyright {
    width: 180px;
    position: relative;
    top: 2px;
    right: 3px;
    font-size: 13px;
    /*background-color: blue; */
  }


